<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516134658936-6g1ooigd8a67os0q3ii8js1rg9sgeijs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516134658936-6g1ooigd8a67os0q3ii8js1rg9sgeijs</string>
	<key>API_KEY</key>
	<string>AIzaSyAF1mqT28vJhSvYbh9OT_Wpd3MwJswHiNw</string>
	<key>GCM_SENDER_ID</key>
	<string>516134658936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appQuizFatec</string>
	<key>PROJECT_ID</key>
	<string>app-quiz-fatecrp</string>
	<key>STORAGE_BUCKET</key>
	<string>app-quiz-fatecrp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516134658936:ios:d9d6313d3562b085c59e8d</string>
</dict>
</plist>